// app global css in SCSS form

body {
    color: white;
    font-family: 'GothamBook';
}

//Fonts
@font-face {
    font-family: Highman;
    src: url(../assets/fonts/Highman.ttf);
}
@font-face {
    font-family: GothamBook;
    src: url(../assets/fonts/GothamBook.ttf);
}

//Preset styles
.titles {
    font-family: 'Highman';
}

@media screen and (max-width: 760px) {
}
