$primary: #6302b7;
$secondary: #26a69a;
$soft: #8928f0;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;
$white: white;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
